{% extends "dashboard/dashboard_base.html" %}
{% load education_extras %}

{% block title %}
  Application details
{% endblock title %}

{% block content_title %}
  Application details
{% endblock content_title %}

{% block page_content %}
  <div class="row">
    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-comments"></i> {{ object.user.get_full_name }} applying to {{ object.application_info.course.name }}
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse"> </a>
        </div>
      </div>
      <div class="portlet-body">
        <div>Phone number: {{ object.phone }}</div>
        <div>Skype: {{ object.skype }}</div>
        <div>Works at: {{ object.works_at }}</div>
        <div>Studies at: {{ object.studies_at }}</div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="mt-element-ribbon bg-white">
            <div class="ribbon ribbon-shadow ribbon-color-success uppercase">Application Tasks Solutions</div>
            <p class="ribbon-content">
              {% for solution in application.solutions.all  %}
                {{ solution.task.name }} : <a href="{{ solution.url }}">{{ solution.url }}</a>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock page_content %}
