{% extends "dashboard/dashboard_base.html" %}
{% load widget_tweaks  %}

{% block content_title %}
  Application info
{% endblock content_title %}

{% block page_content %}
  <div class="row">
    <div class="col-md-6">
      {% include "education/partial/message_box.html" %}
      {% include "partial/form_errors.html" with errors=readable_errors%}

      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption font-blue-sunglo">
            <i class="icon-settings font-blue-sunglo"></i>
            <span class="caption-subject bold uppercase"> Create Application Info </span>
          </div>
        </div>
        <div class="portlet-body form">
          <form action="" method="POST">
            <div class="form-body">
              {% csrf_token %}

              <div class="form-group form-md-line-input">
                {{ form.start_date.label }}
                {% render_field form.start_date class="form-control form-control-solid" id="form_control_1" %}
              </div>
              <div class="form-group form-md-line-input">
                {{ form.end_date.label }}
                {% render_field form.end_date class="form-control form-control-solid" id="form_control_1" %}
	      </div>
              <div class="form-group form-md-line-input">
                {{ form.start_interview_date.label }}
                {% render_field form.start_interview_date class="form-control form-control-solid" id="form_control_1" %}
	      </div>
              <div class="form-group form-md-line-input">
                {{ form.end_interview_date.label }}
                {% render_field form.end_interview_date class="form-control form-control-solid" id="form_control_1" %}
	      </div>
              <div class="form-group form-md-line-input">
                {% render_field form.description class="form-control form-control-solid placeholder-no-fix" id="form_control_1" placeholder="Description" %}
	      </div>
              <div class="form-group form-md-line-input">
                {% render_field form.external_application_form class="form-control form-control-solid placeholder-no-fix" id="form_control_1" placeholder="External form" %}
	      </div>
              <div class="form-actions noborder">
                <button class="btn green uppercase" type="submit">Submit</button>
              </div>

              {% if course.application_info %}
                {% if not course.application_info.external_application_form %}
                  <div class="mt-element-list">
                    <div class="mt-list-container list-simple ext-1 group">
                      <a class="list-toggle-container" data-toggle="collapse" href="#tasks-simple" aria-expanded="false">
                        <div class="list-toggle uppercase"> Current Application Tasks
                          <span class="badge badge-default pull-right bg-white font-dark bold">{{ course.application_info.tasks.count }}</span>
                        </div>
                      </a>
                      <div class="panel-collapse collapse in" id="tasks-simple" aria-expanded="true" style="">
                        <ul>
                          {% for task in course.application_info.tasks.all  %}
                            <li class="mt-list-item">
                              <div class="list-icon-container">
                                  <i class="icon-close"></i>
                              </div>
                              <div class="list-item-content">
                                <h3 class="uppercase">
                                  {{ task.name }}
                                </h3>
                              </div>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                  <a href="{% url 'dashboard:applications:add-application-task' course.id %}"><button class="btn green uppercase" type="button" name="button">Add new application task</button></a>
	          <a href="{% url 'dashboard:applications:add-application-task-from-existing' course.id  %}"><button class="btn green uppercase" type="button" name="button">Choose from existing tasks</button></a>
                {% endif %}
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock page_content%}
