{% extends "partial/public_base.html" %}

{% block content_title %}
  <div class="container">
    <div class="row-md-12">
      Application for {{ course.name }}
    </div>
  </div>
{% endblock content_title %}

{% block page_content %}
  <div class="container">
    <div class="row">
    <div class="col-md-9">
      {% autoescape off %}
        {{ course.application_info.description }}
      {% endautoescape %}
    </div>
    <div class="col-md-3">
      <img src="{{ course.logo.url }}" />
      {% if is_user_authenticated %}
        <p>Looks like you are authenticated.</p>
        <a href="{{ course_apply_url }}" class="btn btn-primary">Click here to proceed with the application</a>
      {% else %}
        <p><strong>In order to apply, you need to have an account in our system.</strong></p>
        <div>
          <a href="{{ register_url }}" class="btn btn-success">Click here to register</a>
        </div>
        <div style="margin-top: 25px">
          <a href="{{ login_url}}" class="btn btn-primary">Click here to login &amp; proceed</a>
        </div>
      {% endif %}
    </div>

  </div>
  </div>
{% endblock %}

{% block extra_scripts %}
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '509518335896450'); 
 fbq('track', 'PageView');
</script>
<noscript>
   <img height="1" width="1" 
   src="https://www.facebook.com/tr?id=509518335896450&ev=PageView
   &noscript=1"/>
 </noscript>
 <!-- End Facebook Pixel Code -->
{% endblock %}
