{% extends 'dashboard/dashboard_base.html' %}
{% load widget_tweaks %}

{% block content_title %}
  <h1><center>You have successfully applied for</center></h1>
{% endblock content_title %}

{% block page_content %}
  <div class="row margin-bottom-40 stories-header" data-auto-height="true">
    <div class="col-md-12">
      <h2>{{ application.application_info.course.name }}</h2>
      <h3> Your interview is on {{ current_interview.date }}</h3>
      <h3> Your interview starts at {{ current_interview.start_time }} </h3>
      <h3> You can confirm your interview below or choose one of the following free interview slots </h3>
      <h4> You can only change your inteview date once </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% include "education/partial/message_box.html" %}
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption font-blue-sunglo">
            <i class="icon-settings font-blue-sunglo"></i>
            <span class="caption-subject bold uppercase"> Choose from the slots below </span>
          </div>
        </div>

        <div class="portlet-body">
          <div class="mt-element-list">
            <div class="mt-list-container list-simple ext-1 group">
              <a class="list-toggle-container" data-toggle="collapse" href="#interviews-simple" aria-expanded="false">
              <div class="list-toggle uppercase"> Free interview slots
                <span class="badge badge-default pull-right bg-white font-dark bold"></span>
              </div>
              </a>
              <div class="panel-collapse collapse in" id="interviews-simple" aria-expanded="true" style="">
              <ul id="interview-dates-list">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock page_content %}

{% block extra_scripts %}
  <script>
   function poll() {
       setTimeout(function(){
           getFreeInterviews(poll)
       }, 2000);

   };

   function getFreeInterviews(cb) {
       var rows = "";
       var applicationId = {{ application.id }};
       $.getJSON("/dashboard/interviews/api/get-free-interviews?application_id=" + applicationId, function (data) {
           $.each(data, function (key, value) {
               var row = '<li class="mt-list-item">' +
                         '<div class="list-icon-container pull-right">' +
                         '<form action="' + value.choose_interview_url + '" method="POST">' +
                         "{% csrf_token %}" +
                         '<button class="btn green uppercase" type="submit">choose</button>' +
                         '</form></div>' +
                         '<div class="list-item-content">' +
                         '<h3 class="uppercase">' + value.date + " - " + value.start_time + '</h3></div></li>';
               rows += row;

               if(key == data.length-1) {
                   $('#interview-dates-list').html(rows);
                   updateTimeChecked();

               }

           })
           cb();

       });

   };

   function updateTimeChecked() {
       var d = new Date();
       var date = d.toLocaleDateString();
       var hours = d.toLocaleTimeString();
       $("#time span").html(date + " " + hours);

   }

   updateTimeChecked();

  $(document).ready(poll());
  </script>
{% endblock  %}
