{% extends 'dashboard/dashboard_base.html' %}

{% block content_title %}
  Interviews
{% endblock content_title %}

{% block page_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="portlet box green">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-comments"></i> Your Free time slots
          </div>
          <div class="tools">
            <a href="javascript:;" class="expand"> </a>
          </div>
        </div>
        <div class="portlet-body default-collapsed">
          <div class="table-scrollable">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th> Date </th>
                  <th> Start Time </th>
                  <th> End Time </th>
                  <th> Actions </th>
                </tr>
              </thead>
              <tbody>
                {% for slot in free_time_slots %}
                  <tr>
                    <td> {{ slot.date }} </td>
                    <td> {{ slot.start_time }} </td>
                    <td> {{ slot.end_time }} </td>
                    <td>
                      <form id="delete_slot_form" action="{% url 'dashboard:interviews:delete-free-time' slot.id %}"  method="POST" >
                        {% csrf_token %}
                        <div class="form-actions">
                          <a href="{% url 'dashboard:interviews:edit-free-time' slot.id %}"><button type="button" class="btn green uppercase">Edit</button></a>
                          <button class="btn green uppercase" type="button" onClick="confirmDeleteRequest('#delete_slot_form', 'Free Time Slot')">delete</button>
                        </div>
                      </form>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <a href="{% url 'dashboard:interviews:add-free-time' %}">
            <button class="btn green uppercase">
              Add free time
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="portlet box green">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-comments"></i> Your confirmed interviews
          </div>
          <div class="tools">
            <a href="javascript:;" class="expand"> </a>
          </div>
        </div>
        <div class="portlet-body default-collapsed">
          <div class="table-scrollable">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th> Date </th>
                  <th> Start Time </th>
                  <th> Applicant name </th>
                  <th> Applicant skype </th>
                  <th> Code Skills Rating </th>
                  <th> Code Design Rating </th>
                  <th> Fit Attitude Rating </th>
                  <th> Accepted </th>
                  <th> Actions </th>
                </tr>
              </thead>
              <tbody>
                {% for obj in object_list %}
                  <tr>
                    <td> {{ obj.date }} </td>
                    <td> {{ obj.start_time }} </td>
                    <td> <a href="{% url 'dashboard:applications:application-detail' obj.application.id %}">{{ obj.application.user.get_full_name }}</a> </td>
                    <td> {{ obj.application.skype }} </td>
                    <td> {{ obj.code_skills_rating }} </td>
                    <td> {{ obj.code_design_rating }} </td>
                    <td> {{ obj.fit_attitude_rating }} </td>
                    <td> {{ obj.is_accepted }} </td>
                    <td>
                      <a href="{% url 'dashboard:interviews:rate-interview' obj.uuid %}">
                        <button class="btn green uppercase" type="button">Rate</button>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="row">
            <form class="col-md-3" action="{% url 'dashboard:interviews:generate-interviews' %}" method="POST">
              {% csrf_token %}
              <div class="form-actions">
                <input class="btn red uppercase" type="submit" value="Generate interviews" />
              </div>
            </form>
            <form class="col-md-3" action="{% url 'dashboard:interviews:send-interview-confirmation-emails' %}" method="POST">
              {% csrf_token %}
              <input class="btn red uppercase" type="submit" name="submit" value="Send confirmation emails"/>
            </form>
            <a href="{% url 'dashboard:interviews:accepted-applicants' %}">
              <button type="button" class="btn red uppercase">
                View accepted
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="portlet box green">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-comments"></i> Your free interviews
          </div>
          <div class="tools">
            <a href="javascript:;" class="expand"> </a>
          </div>
        </div>
        <div class="portlet-body default-collapsed">
          <div class="table-scrollable">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th> Date </th>
                  <th> Start Time </th>
                  <th> Actions </th>
                </tr>
              </thead>
              <tbody>
                {% for obj in free_interview_dates %}
                  <tr>
                    <td> {{ obj.date }} </td>
                    <td> {{ obj.start_time }} </td>
                    <td>
                      <form id="delete-interview-form" action="{% url 'dashboard:interviews:delete-interview' obj.uuid  %}" method="POST">
                        {% csrf_token %}
                        <button class="btn green uppercase" type="button" onClick="confirmDeleteRequest('#delete-interview-form', 'Inteview date')">Delete</button>
                      </form>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% if all_free_time_slots %}
      <div class="col-md-12">
        <div class="portlet box green">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-comments"></i> All Intereviewer's time slots
            </div>
            <div class="tools">
              <a href="javascript:;" class="expand"> </a>
            </div>
          </div>
          <div class="portlet-body default-collapsed">
            <div class="table-scrollable">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th> Interviewer </th>
                    <th> Date </th>
                    <th> Start Time </th>
                    <th> End Time </th>
                  </tr>
                </thead>
                <tbody>
                  {% for obj in all_free_time_slots %}
                    <tr>
                      <td> {{ obj.interviewer.get_full_name}} </td>
                      <td> {{ obj.date }} </td>
                      <td> {{ obj.start_time }} </td>
                      <td> {{ obj.end_time }} </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if log %}
      <div class="row margin-bottom-40 stories-header" data-auto-height="true">
        <div class="col-md-12">
          {% for message in log %}
            <h3>{{ message }}</h3>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock page_content %}

{% block extra_scripts %}
  <script>
   function confirmDeleteRequest(inputFieldId, objectType) {
       if(confirm("Do you really want to delete this " + objectType + " ?")){
           $(inputFieldId)[0].submit();
       } else return false;
   }
  </script>
{% endblock extra_scripts %}
