{% extends "dashboard/dashboard_base.html" %}
{% load widget_tweaks  %}

{% block title %}
  Rate Interview
{% endblock title %}

{% block content_title %}
  Rate Interview
{% endblock content_title %}

{% block page_content %}
  <div class="row">
    <div class="col-md-6">
      {% include "education/partial/message_box.html" %}
      {% include "partial/form_errors.html" with errors=readable_errors%}

      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption font-blue-sunglo">
            <i class="icon-settings font-blue-sunglo"></i>
            <span class="caption-subject bold uppercase"> Interview with {{ object.application.user.get_full_name }} </span>
          </div>
        </div>
        <div class="portlet-body form">
          <form action="" method="POST">
            <div class="form-body">
              {% csrf_token %}

              <div class="form-group form-md-line-input">
                {{ form.code_skills_rating.label }}
                {% render_field form.code_skills_rating class="form-control form-control-solid" %}
                <span class="help-block">{{ form.code_skills_rating.help_text }}</span>
              </div>
              <div class="form-group form-md-line-input">
                {{ form.code_design_rating.label }}
                {% render_field form.code_design_rating type="time" class="form-control form-control-solid" %}
                <span class="help-block">{{ form.code_design_rating.help_text }}</span>
              </div>
              <div class="form-group form-md-line-input">
                {{ form.fit_attitude_rating.label }}
                {% render_field form.fit_attitude_rating type="time" class="form-control form-control-solid" %}
                <span class="help-block">{{ form.fit_attitude_rating.help_text }}</span>
	      </div>
              <div class="form-group form-md-line-input">
                {{ form.interviewer_comment.label }}
                {% render_field form.interviewer_comment type="time" class="form-control form-control-solid" %}
                <span class="help-block">{{ form.interviewer_comment.help_text }}</span>
	      </div>
              <div class="md-checkbox-inline">
                <div class="md-checkbox">
                  {% render_field form.is_accepted class="md-check" id="buffer_checkbox" %}
                  <label for="buffer_checkbox">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span> Accepted </label>
                </div>
              </div>
              <div class="form-actions noborder">
                <button class="btn green uppercase" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock page_content%}
