<div class="row">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i> Your Applications
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body">
               <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Course </th>
                                <th> Submited tasks</th>
                                <th>  </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for app in applications %}
                                <tr>
                                    <td>{{ app.id }}</td>
                                    <td>{{ app.application_info.course.name }}</td>
                                    <td>{{ app.solutions.count }} / {{app.application_info.tasks.count}}</td>
                                    <td><a href="{% url 'dashboard:applications:edit-application' app.application_info.course.id %}"><button class="btn green uppercase" type="button" name="button">Edit application</button></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
        </div>
</div>
