{% load application_extras %}

<div class="row">
  <div class="portlet box green">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-comments"></i> {{ course.name }}
      </div>
      <div class="tools">
        <a href="javascript:;" class="collapse"> </a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="table-scrollable">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th> # </th>
              <th> Applicant </th>
               {% for task in course.application_info.competition.tasks.all %}
                <th id="{{ task.name }}">
                  {{ task.name }}
                </th>
              {% endfor %}
              <th> View Profile </th>
            </tr>
          </thead>
          <tbody>
            {% for app in course.application_info.applications.all %}
              <tr>
                <td>{{ app.id }}</td>
                <td> <a href="{% url 'dashboard:applications:application-detail' app.id %}">{{ app.user.get_full_name }}</a> </td>
                {% for task in course.application_info.competition.tasks.all %}
                  <td>
                    <div class="list-icon-container">
                      {% if task|has_solution_for_task:app %}
                        <i class="icon-check"></i>
                      {% else %}
                        <i class="icon-close"></i>
                      {% endif  %}
                    </div>
                 </td>
                {% endfor %}
		<td>
                  <a href="{% url 'dashboard:users:profile-by-email' user_email=app.user.email %}">
                    <button class="btn green uppercase">View profile</button>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
