<div class="row">
  {% for course in courses_open_for_application %}
    <div class="col-md-4">
      <div class="col-md-8">
        {% include 'applications/partial/courses_to_apply.html' with course=course %}
      </div>
    </div>
  {% endfor %}
</div>

<div class="row">
  <div class="col-md-12">
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-share font-red-sunglo"></i>
          <span class="caption-subject font-blue-sunglo bold uppercase">My applications</span>
        </div>
      </div>
      <div class="portlet-body">
        {% for application in applications %}
          <div class="mt-element-ribbon bg-grey-steel">
            {% if application.is_completed %}
            <div class="ribbon ribbon-shadow ribbon-color-success uppercase">
              <h4>{{ application.application_info.course.name }}       <i class="icon-check"></i></h4>
            </div>
            <h4 class="ribbon-content">Your application is completed!</h4>
            {% else %}
            <div class="ribbon ribbon-shadow ribbon-color-success uppercase">
              <h4>{{ application.application_info.course.name }}       <i class="icon-close"></i></h4>
            </div>
            <h4 class="ribbon-content">Your application is not completed!</h4>
            {% endif %}
            {% if application.application_info.competition %}
              <div class="ribbon-content">
                <a href="{% url 'competitions:competition-detail' application.application_info.competition.slug_url %}">
                  <button class="btn green uppercase" type="button">View application assets</button></a>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
