{% extends "dashboard/dashboard_base.html" %}
{% load widget_tweaks %}

{% block content_title %}
  Add source test
{% endblock content_title%}

{% block page_content %}
  <div class="row">
    <form class="col-md-6" action="" method="post">
      {% csrf_token %}

      {% if form.errors %}
      {% for error_key, error_value  in form.errors.items %}
        <div class="alert alert-warning">
          <span>{{ error_value }}</span>
        </div>
      {% endfor %}
      {% endif %}
      <div class="form-group">
        {{ form.language.label }}
        {% render_field form.language class="form-control form-control-solid" %}
      </div>
      <div class="form-group">
        {{ form.code.label }}
        {% render_field form.code class="form-control form-control-solid"%}
      </div>
      <div class="form-actions">
        <button class="btn green uppercase" type="submit" name="button">Add</button>
      </div>
    </form>
  </div>
{% endblock page_content %}
