{% extends "dashboard/dashboard_base.html" %}
{% load widget_tweaks %}

{% block content_title %}
  Add source code test
{% endblock content_title%}

{% block page_content %}
  <div class="row">
    <div class="col-md-6">
      {% include "education/partial/message_box.html" %}
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption font-blue-sunglo">
            <i class="icon-settings font-blue-sunglo"></i>
            <span class="caption-subject bold uppercase"> Add source code test</span>
          </div>
        </div>
        <div class="portlet-body form">
          <form action="" method="POST">
            <div class="form-body">
              {% csrf_token %}

              <div class="form-group form-md-line-input">
                {{ form.language.label }}
                {% render_field form.language class="form-control form-control-solid" id="form_control_1" %}
              </div>
              <div class="form-group form-md-line-input">
                {{ form.code.label }}
                {% render_field form.code class="form-control form-control-solid" id="form_control_1" %}
	      </div>
              <div class="form-actions noborder">
                <button class="btn green uppercase" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock page_content %}
