{% extends "dashboard/dashboard_base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content_title %}
  Add task
{% endblock content_title%}

{% block page_content %}
  <div class="row">
    <div class="col-md-6">
      {% include "education/partial/message_box.html" %}
      {% include "partial/form_errors.html" with errors=readable_errors %}
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption font-blue-sunglo">
            <i class="icon-settings font-blue-sunglo"></i>
            <span class="caption-subject bold uppercase"> Add task</span>
          </div>
        </div>
        <div class="portlet-body form">
          <form action="" method="POST" enctype="multipart/form-data">
            <div class="form-body">
              {% csrf_token %}

              <div class="form-group form-md-line-input">
                {% render_field form.name class="form-control form-control-solid placeholder-no-fix" id="form_control_1" placeholder="Task Name" %}
              </div>
              <div class="form-group form-md-line-input">
                {{ form.description.label }} - Markdown Supported
                {% render_field form.description class="form-control form-control-solid placeholder-no-fix" id="description_area" placeholder="Task Description" %}
	      </div>
              <div class="form-group form-md-line-input">
                {{ form.topic.label }}
                {% render_field form.topic class="form-control form-control-solid placeholder-no-fix"%}
              </div>
              <div class="md-checkbox-inline">
                <div class="md-checkbox">
                  {% render_field form.gradable id="checkbox6" class="md-check" onchange="changeLanguageFieldVisibility()" %}
                  <label for="checkbox6">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span> Make this task gradable </label>
                </div>
              </div>
              <div class="test_language">
                <div class="form-group form-md-line-input">
                  {{ form.language.label }}
                  {% render_field form.language id="language_field" class="form-control form-control-solid" onchange="changeTestFieldsVisibility(this, true)" %}
                </div>
              </div>
              <div class="binary-test-fields">
                <div class="form-group form-md-line-input">
                  {{ form.file.label }}
                  {% render_field form.file class="form-control form-control-solid"%}
                </div>
               </div>
               <div class="source-code-test-fields">
                <div class="form-group form-md-line-input">
                  <span>Write your tests below</span>
                    {% render_field form.code class="form-control form-control-solid placeholder-no-fix" id="code_area" placeholder="Enter your test code here" %}
                </div>
              </div>
              <div class="form-actions noborder">
                <button class="btn green uppercase" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock page_content %}

{% block extra_scripts %}
  <script type="text/javascript">
   function changeLanguageFieldVisibility(){
       var checkbox = $('#checkbox6')[0];
       var languageField = $('#language_field')[0];
       if (checkbox.checked) {
           $('.test_language').show();
           changeTestFieldsVisibility(languageField, true);
       } else {
           $('.test_language').hide();
           changeTestFieldsVisibility(languageField, false);
       }

   }
   function changeTestFieldsVisibility(languageField, visible){
       var binaryFields = $('.binary-test-fields');
       var sourceFields = $('.source-code-test-fields');
       if (visible){
           if (languageField.value === ""){
               binaryFields.hide()
               sourceFields.hide();
           }
           else if (languageField.value !== "3"){
               binaryFields.hide()
               sourceFields.show();
           } else {
               sourceFields.hide();
               binaryFields.show()
           }
       } else {
           binaryFields.hide()
           sourceFields.hide();
       }
    }
    $(document).ready(changeLanguageFieldVisibility());
  </script>
  {% include "partial/code_editor.html" with mode="python" %}
  {% include "partial/code_editor.html" with area_id="description_area" mode="markdown"%}
{% endblock extra_scripts %}
