{% extends "base.html" %} {% load static %}
{% load widget_tweaks %}
{% load account socialaccount %}


{% block title %}
  Log In
{% endblock title %}

{% block body %}
<body class="login">
    {% include "partial/logo.html" %}
    <div class="content">
        <!-- BEGIN REGISTRATION FORM -->
        <form class="signup-form" action="" method="post">
            {% csrf_token %}
            <h3 class="font-green">Register for {{ competition.name }} competition</h3>
          {% include 'education/partial/message_box.html' %}
            {% if not form.is_valid %}
            {% for error in readable_errors %}
              <div class="alert alert-warning">
                <span>{{ error }}</span>
              </div>
            {% endfor %}
            {% endif %}
            <p>
              Reference or description for competition.
            </p>
            <div class="form-group">
                <label class="hint">Your email</label> 
                {% render_field form.email class="form-control placeholder-no-fix" placeholder="Email Address" %}
            </div>
            <div class="form-group">
                <label class="hint">Your name</label> 
                {% render_field form.full_name class="form-control placeholder-no-fix" placeholder="Full name" %}
            </div>
            <div class="form-group">
                {% render_field form.captcha class="form-control" %}
            </div>
            <div class="form-actions">
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END REGISTRATION FORM -->
    </div>
    <!-- BEGIN CORE PLUGINS -->
    {% include "partial/core_scripts.html" %}
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    {% include "partial/authentication_scripts.html" %}
    {% include "partial/form_validation_scripts.html" %}
    <!-- END PAGE LEVEL PLUGINS -->
</body>

{% endblock body %}
