{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block content_title %}
  My courses
{% endblock content_title %}

{% block page_content %}
  {% if user_is_teacher_for %}
    {% include "education/partial/courses_portlets.html" with courses=user_is_teacher_for role="teacher" %}
  {% endif %}

  {% if user_is_student_for %}
    {% include "education/partial/courses_portlets.html" with courses=user_is_student_for role="student" %}
  {% endif %}
{% endblock page_content %}

{% block extra_scripts %}
  <script src="{% static 'jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
    <script>
     function attachScrollbar(){
         $('.scrollable-content').slimScroll({
             height: '200px',
             railVisible: true,
             alwaysVisible: false,
             color: 'magenta'
         });
     }

     $(document).ready(attachScrollbar());
  </script>

{% endblock extra_scripts %}
