{% extends public_page|yesno:'partial/public_base.html,dashboard/dashboard_base.html' %}
{% load static %}

{% block content_title %}
   Course detail
{% endblock content_title %}

{% block page_content %}
<div class="row">
  <div class="col-md-12">
    {% include "education/partial/teachers_table.html" with course=course teachers=course.visible_teachers.all %}
  </div>
  <div class="col-md-12">
    {% include "education/partial/topics_table.html" with course=course topics=course.topics.all public_page=public_page%}
  </div>
  {% if not public_page %}
    <div class="col-md-3">
      <a href="{% url 'public:course_detail' course_slug=course.slug_url %}">
        <button type="button" name="button" class="btn green uppercase">View public version of this course</button>
      </a>
    </div>
  {% endif %}
</div>
{% endblock page_content %}
