{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block content_title %}
   Course detail
   <p><a href="{% url 'dashboard:education:manage-course' course.pk %}">
       <button type="button" class="btn green uppercase">Manage course</button>
   </a></p>
{% endblock content_title %}

{% block page_content %}
<div class="row margin-bottom-40 stories-header" data-auto-height="true">
    <div class="col-md-12">
        <h1>Teachers for course</h1>
        <h2>{{ course.name }}</h2>
    </div>
</div>
<div class="row margin-bottom-20 stories-cont">
  {% for teacher in course.teachers.all %}
    <div class="col-lg-3 col-md-6">
        <div class="portlet light">
            <div class="photo">
                <img src="{% static "hackman.png" %}" alt="" class="img-responsive" /> </div>
            <div class="title">
                <span> {{ teacher.get_full_name }} </span>
            </div>
            <div class="desc">
                <span>{{ teacher.get_description }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock page_content %}
