{% extends "dashboard/dashboard_base.html" %}
{% load widget_tweaks %}

{% block content_title %}
<h1><center>Edit topic {{ object.name }} for</center></h1>
{% endblock content_title %}

{% block page_content %}
  <div class="row margin-bottom-40 stories-header" data-auto-height="true">
    <div class="col-md-12">
      <h2>{{ course.name }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {% include "education/partial/message_box.html" %}
      {% include "partial/form_errors.html" with errors=readable_errors %}
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption font-blue-sunglo">
            <i class="icon-settings font-blue-sunglo"></i>
            <span class="caption-subject bold uppercase"> Edit topic</span>
          </div>
        </div>
        <div class="portlet-body form">
          <form action="" method="POST">
            <div class="form-body">
              {% csrf_token %}

              <div class="form-group form-md-line-input">
                {% render_field form.name class="form-control form-control-solid placeholder-no-fix" id="form_control_1" placeholder="Topic Name" %}
              </div>
              <div class="form-group form-md-line-input">
                {{ form.week.label }}
                {% render_field form.week class="form-control form-control-solid" id="form_control_1" %}
	      </div>
              <div class="form-actions noborder">
                <button class="btn green uppercase" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock page_content %}
