{% extends "dashboard/dashboard_base.html" %}
{% load widget_tweaks %}

{% block content_title %}
  Edit included task
{% endblock content_title%}

{% block page_content %}
  <div class="row">
    <div class="col-md-6">
      {% include "education/partial/message_box.html" %}
      {% include "partial/form_errors.html" with errors=readable_errors %}
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption font-blue-sunglo">
            <i class="icon-settings font-blue-sunglo"></i>
            <span class="caption-subject bold uppercase"> Edit task </span>
          </div>
        </div>
        <div class="portlet-body form">
          <form action="" method="POST">
            <div class="form-body">
              {% csrf_token %}

              <div class="form-group form-md-line-input">
                {{ form.name.label }}
                {% render_field form.name class="form-control form-control-solid placeholder-no-fix" id="form_control_1" placeholder="Task Name" %}
              </div>
              <div class="form-group form-md-line-input">
                {{ form.description.label }} - Markdown supported
                {% render_field form.description class="form-control form-control-solid placeholder-no-fix" id="description_area" placeholder="Task Description" %}
	      </div>
              <div class="form-group form-md-line-input">
                {{ form.topic.label }}
                {% render_field form.topic class="form-control form-control-solid"%}
              </div>
              <div class="md-checkbox-inline">
                <div class="md-checkbox">
                  {% render_field form.gradable id="checkbox6" class="md-check" onchange="changeTestFieldsVisibility()" %}
                  <label for="checkbox6">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span> Make this task gradable </label>
                </div>
              </div>
              <div class="form-actions noborder">
                <button class="btn green uppercase" type="submit" name="button">Update</button>
                {% if object.gradable %}
                  {% if object.test %}
                    <a href="{% url 'dashboard:education:course-management:edit-test' course.id object.id %}">
                      <button class="btn green uppercase" type="button" name="button">Edit test</button>
                    </a>
                  {% else %}
                    <a href="{% url 'dashboard:education:course-management:add-source-test' course.id object.id %}">
                      <button class="btn green uppercase" type="button" name="button">Add source code test</button>
                    </a>
                    <a href="{% url 'dashboard:education:course-management:add-binary-test' course.id object.id %}">
                      <button class="btn green uppercase" type="button" name="button">Add binary test</button>
                    </a>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock page_content %}

{% block extra_scripts %}
  {% include "partial/code_editor.html" with area_id="description_area" mode="markdown" %}
{% endblock extra_scripts %}
