{% extends 'dashboard/dashboard_base.html' %}
{% load widget_tweaks %}

{% block title %}
  Edit Lecture
{% endblock title %}

{% block content_title %}
  Edit Lecture
{% endblock content_title %}

{% block page_content %}
  <div class="row">
    <div class="col-md-6">
      {% include 'education/partial/message_box.html' %}
      {% include 'partial/form_errors.html' with errors=readable_errors %}

      <div class="portlet light">
        <div class="portlet-title">
          <div class="caption font-blue-sunglo">
            <i class="icon-settings font-blue-sunglo"></i>
            <span class="caption-subject bold uppercase"> Edit Lecture </span>
          </div>
        </div>
        <div class="portlet-body form">
          <form action="" method="POST">
            {% csrf_token %}

            <div class="form-group form-md-line-input">
              {{ form.date.label }}
              {% render_field form.date class="form-control form-control-solid" %}
            </div>
            <div class="form-actions noborder">
              <button class="btn green uppercase" type="submit">Submit</button>
              <div class="pull-right">
                <button type="button" class="btn red uppercase" onClick="handleDeleteLecture()">Delete</button>
              </div>

            </div>
          </form>
          <form id="delete-lecture-form" action="{% url 'dashboard:education:course-management:delete-lecture' course.id object.id %}" method="POST">
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock page_content %}

{% block extra_scripts %}
  <script type="text/javascript">
   function handleDeleteLecture() {
       if (confirm("Do you really want to delete this lecture?")) {
           document.getElementById("delete-lecture-form").submit();
       } else return false;
   }
  </script>
{% endblock extra_scripts %}
