{% extends "dashboard/dashboard_base.html" %}
{% load widget_tweaks %}

{% block content_title %}
  Edit existing task
{% endblock content_title%}

{% block page_content %}
  <div class="row">
    <div class="col-md-6">
      {% include "education/partial/message_box.html" %}
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption font-blue-sunglo">
            <i class="icon-settings font-blue-sunglo"></i>
            <span class="caption-subject bold uppercase"> Add task</span>
          </div>
        </div>
        <div class="portlet-body form">
          <form action="" method="POST">
            <div class="form-body">
              {% csrf_token %}

              <div class="form-group form-md-line-input">
                {{ form.name.label }}
                {% render_field form.name class="form-control form-control-solid placeholder-no-fix" id="form_control_1" placeholder="Task Name" %}
              </div>
              <div class="form-group form-md-line-input">
                {{ form.description.label }}
                {% render_field form.description class="form-control form-control-solid placeholder-no-fix" id="form_control_1" placeholder="Task Description" %}
	      </div>
              <div class="form-actions noborder">
                <button class="btn green uppercase" type="submit" name="button">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock page_content %}
