{% extends "dashboard/dashboard_base.html" %}

{% block content_title %}
  Choose from the following courses
{% endblock content_title %}


{% block page_content %}
  <div class="row">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    {% include "education/partial/message_box.html" %}
    {% include "partial/form_errors.html" with errors=readable_errors %}
    {% include "education/partial/existing_materials.html" with material_list=material_list %}
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
  </div>
{% endblock page_content %}
