{% extends "dashboard/dashboard_base.html" %}

{% block content_title %}
  Choose from the following courses
{% endblock content_title %}


{% block page_content %}
<div class="row">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i> Tasks
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body">
               <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Name </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in object_list %}
                                <tr>
                                    <td>{{ task.id }}</td>
                                    <td>{{ task.name }}</td>
                                    <td><a href="#"><button class="btn green uppercase" name="button">View</button></a> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
              <a href="{% url 'dashboard:education:course-management:existing-tasks' course.pk  %}"><button type="button" name="button" class="btn green uppercase" >Add a task to this course</button></a>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
</div>
{% endblock page_content %}
