{% extends "education/dashboard_base.html" %}
{% load socialaccount %}

{% block content_title %}
  User Profile
{% endblock content_title %}

{% block page_content %}
  <p>
    You are logged in as {{ object.email }}
    <p>
      <a href="{% url 'account_logout'%}"><button type="button" name="button">Sign out</button></a>
    </p>
    {% if not object.has_usable_password %}
      <p>
        You have not set a password yet and can not log in without a social account.
      </p>
      <p>
        Set your password <a href="{% url 'account_set_password' %}">Here</a>
      </p>
    {% endif %}
    {% if not object.socialaccount_set.count %}
      <p>
        <p>
          <a href="{% provider_login_url "github" process="connect" %}">Add Github account</a>
        </p>
      </p>
    {% endif %}
  </p>
{% endblock page_content%}
