{% extends "dashboard/dashboard_base.html" %}

{% block content_title %}
    Your solution for {{ task.name }}
{% endblock content_title %}

{% block page_content %}
 <div class="row">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i> Solution
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body">
              <p>
                  {% if solution.task.test.is_source %}
                  <h3>Code:</h3> <br />
                    {{ solution.code }}
                  {% else %}
                    {{ solution_file }}
                  {% endif %}<br /><br />
                  <h3>Status:</h3> <br /> {{ solution.get_status_display }}
              </p>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
</div>
{% endblock page_content %}
