{% extends "dashboard/dashboard_base.html" %}
{% load widget_tweaks %}

{% block content_title %}
  Submit solution
{% endblock content_title %}

{% block page_content %}
  <div class="row">
    <div class="col-md-6">
      {% include "education/partial/message_box.html" %}
      {% include "partial/form_errors.html" with errors=readable_errors %}
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption font-blue-sunglo">
            <i class="icon-settings font-blue-sunglo"></i>
            <span class="caption-subject bold uppercase"> Submit solution </span>
          </div>
        </div>
        <div class="portlet-body form">
          <form action="" method="POST" enctype="multipart/form-data">
            <div class="form-body">
              {% csrf_token %}
              {% if task.gradable %}
                {% if task.test.is_source %}
                  <div class="form-group form-md-line-input">
                    {% render_field form.code class="form-control form-control-solid placeholder-no-fix" id="form_control_1" placeholder="Source Code" %}
                  </div>
                {% else %}
                  <div class="form-group form-md-line-input">
                    {{ from.file.label }}
                    {% render_field form.file class="form-control form-control-solid" id="form_control_1" %}
                  </div>
                {% endif %}
              {% else %}
                  <div class="form-group form-md-line-input">
                    {% render_field form.url class="form-control form-control-solid placeholder-no-fix" id="form_control_1" placeholder="Solution URL" %}
                  </div>
              {% endif %}
               <div class="form-actions noborder">
                <button class="btn green uppercase" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock page_content %}
