{% extends "dashboard/dashboard_base.html" %}
{% load education_extras %}

{% block content_title %}
  {{ object.name }}
{% endblock content_title %}

{% block page_content %}
 <div class="row">
   <!-- BEGIN SAMPLE TABLE PORTLET-->
   <div class="portlet box green">
     <div class="portlet-title">
       <div class="caption">
         <i class="fa fa-comments"></i> Task description
       </div>
       <div class="tools">
         <a href="javascript:;" class="collapse"> </a>
       </div>
     </div>
     <div class="portlet-body">
       <p>
         {% if object.description %}
           {% autoescape off %}
             {{ object.description|markdown }}
           {% endautoescape %}
         {% endif %}
       </p>
     </div>
   </div>
   <!-- END SAMPLE TABLE PORTLET-->
</div>
{% endblock page_content %}
