{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load account socialaccount %}


{% block title %}
  Log In
{% endblock title %}


{% block body %}
<body class="login">
    {% include "partial/logo.html" %}
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" action="" method="post">
            {% csrf_token %}
            <h3 class="form-title font-green">Sign In</h3>
            {% include 'education/partial/message_box.html' %}
            {% include 'partial/form_errors.html' with errors=readable_errors %}
            <div class="alert alert-warning display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter an email address and password. </span>
            </div>
            <div class="form-group">
                <label class="hint">Your email</label>
                {% render_field form.login class="form-control form-control-solid placeholder-no-fix" placeholder="Email address"%}
            </div>
            <div class="form-group">
                <label class="hint">Your password</label>
                {% render_field form.password class="form-control form-control-solid placeholder-no-fix" placeholder="Password"%}
            </div>
            <div class="form-actions">
                <button type="submit" class="btn green uppercase">Login</button>
                <a href="{% url 'account_reset_password' %}" id="forget-password" class="forget-password">Forgot Password?</a>
            </div>
            <!-- <div class="login-options"> -->
            <!--     <h4>Or login with <a href="{% provider_login_url "github" process='login' %}">GitHub</a></h4> -->
            <!-- </div> -->
            {% if not is_competition %}
              <div class="create-account">
                <p>
                  <a href="{% url 'account_signup' %}" id="register-btn" class="uppercase">Create an account</a>
                </p>
              </div>
            {% endif %}
        </form>
        <!-- END LOGIN FORM -->
        </div>
        <!-- BEGIN CORE PLUGINS -->
        {% include "partial/core_scripts.html" %}
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        {% include "partial/authentication_scripts.html" %}
        {% include "partial/form_validation_scripts.html" %}
        <!-- END PAGE LEVEL PLUGINS -->
</body>

{% endblock body %}
