{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load account socialaccount %}

{% block title %}
  Reset Password
{% endblock title %}

{% block body %}
  <body class="login">
      {% include "partial/logo.html" %}
      <div class="content">
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="password-reset" action="{% url 'account_reset_password' %}" method="post">
            {% csrf_token %}
            <h3 class="font-green">Forget Password ?</h3>
            {% if not form.is_valid %}
            {% for error in readable_errors %}
              <div class="alert alert-warning">
                <span>{{ error }}</span>
              </div>
            {% endfor %}
            {% endif %}
            <p> Enter your e-mail address below to reset your password. </p>
            <div class="form-group">
                {% render_field form.email class="form-control placeholder-no-fix" placeholder="Email Address" %}
             </div>
            <div class="form-actions">
                <a href="{% url 'account_login' %}"><button type="button" id="back-btn" class="btn green btn-outline">Back</button></a>
                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
      </div>
      <!-- BEGIN CORE PLUGINS -->
      {% include "partial/core_scripts.html" %}
      <!-- END CORE PLUGINS -->
      <!-- BEGIN PAGE LEVEL PLUGINS -->
      {% include "partial/authentication_scripts.html" %}
      {% include "partial/form_validation_scripts.html" %}
      <!-- END PAGE LEVEL PLUGINS -->
  </body>
{% endblock body %}
