{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load account socialaccount %}


{% block title %}
  Sign Up
{% endblock title %}

{% block body %}
<body class="login">
    {% include "partial/logo.html" %}
    <div class="content">
        <!-- BEGIN REGISTRATION FORM -->
        <form class="signup-form" action="{% url 'account_signup' %}?{{ redirect_field_name }}={{ redirect_field_value }}" method="post">
           {% include "education/partial/message_box.html" %}
           {% include "partial/form_errors.html" with errors=readable_errors %}
           {% csrf_token %}
          <h3 class="font-green">Sign Up</h3>
            <p class="hint"> Enter your account details below: </p>
            <div class="form-group">
                {% render_field form.email class="form-control placeholder-no-fix" placeholder="Email Address" %}
            </div>
            <div class="form-group">
                {% render_field form.password1 class="form-control placeholder-no-fix" placeholder="Password" %}
            </div>
            <div class="form-group">
                {% render_field form.captcha class="form-control" %}
            </div>
            <div class="form-actions">
                <a href="{% url 'account_login' %}"><button type="button" id="register-back-btn" class="btn green btn-outline">Back</button></a>
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END REGISTRATION FORM -->
    </div>
    <!-- BEGIN CORE PLUGINS -->
    {% include "partial/core_scripts.html" %}
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    {% include "partial/authentication_scripts.html" %}
    {% include "partial/form_validation_scripts.html" %}
    <!-- END PAGE LEVEL PLUGINS -->
</body>

{% endblock body %}
