<div class="btn-group open">
  <button class="btn blue dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Actions
    <i class="fa fa-angle-down"></i>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="{% url 'dashboard:management:add-student' %}">Add student
        <span class="badge badge-info"> 1 </span>
      </a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="{% url 'dashboard:management:add-teacher' %}">Add teacher
        <span class="badge badge-info"> 2 </span>
      </a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="{% url 'dashboard:management:add-user' %}">Add user
        <span class="badge badge-info"> 3 </span>
      </a>
    </li>
    <li role="presentation" class="divider"> </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="{% url 'dashboard:management:add-student-to-course' %}">Add student to course
        <span class="badge badge-success"> 4 </span>
      </a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="{% url 'dashboard:management:add-teacher-to-course' %}">Add teacher to course
        <span class="badge badge-success"> 5 </span>
      </a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="{% url 'dashboard:management:add-interviewer-to-course' %}">Add interviewer to course
        <span class="badge badge-success"> 6 </span>
      </a>
    </li>
    <li role="presentation" class="divider"> </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="{% url 'dashboard:management:add-participant-to-competition' %}">Add participant to competitions &nbsp;
        <span class="badge badge-danger"> 7 </span>
      </a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="{% url 'dashboard:management:add-judge-to-competition' %}"> Add judge to competition
        <span class="badge badge-danger"> 8 </span>
      </a>
    </li>
  </ul>
</div>
