.row-profile {
  margin-top: 50px;
  font-size: 14px; }
  .row-profile.edit-profile .editable-user-avatar {
    width: 250px;
    height: 250px;
    position: relative;
    cursor: pointer;
    text-align: center; }
    .row-profile.edit-profile .editable-user-avatar .glyphicon {
      font-size: 50px;
      position: absolute;
      width: 250px;
      line-height: 250px;
      color: white;
      opacity: 0;
      transition: all 1s ease; }
    .row-profile.edit-profile .editable-user-avatar img#user-avatar {
      width: 100%;
    }
    .row-profile.edit-profile .editable-user-avatar:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: black;
      opacity: 0;
      transition: all 2s ease; }
    .row-profile.edit-profile .editable-user-avatar:hover:before {
      transition: all 1s ease;
      opacity: 0.6; }
    .row-profile.edit-profile .editable-user-avatar:hover .glyphicon {
      transition: all 1s ease;
      opacity: 1; }
