{% load education_extras %}

<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-comments"></i> Course schedule </div>
    <div class="tools">
      <a href="javascript:;" class="expand"> </a>
    </div>
  </div>
  <div class="portlet-body default-collapsed">
    <div class="table-scrollable">
      {% with course.weeks.first as first_week %}
        {% with first_week.lectures.count as first_week_lecture_count %}
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Week</th>
                {% for lecture in first_week.lectures.all %}
                  <th>{{ lecture.date|date:"l" }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tr>
              {% for week in course.weeks.all %}
                <tr>
                  <td>
                    {{ week }}
                  </td>

                  {% for lecture in week.lectures.all %}
                    <td>{{ lecture.date }}</td>
                  {% endfor %}
                  {% for _ in week.lectures.count|iterable_from_difference:first_week_lecture_count %}
                    <td> No lecture </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tr>
          </table>
        {% endwith %}
      {% endwith %}
    </div>
  </div>
</div>
