{% load static %}

<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-comments"></i>{{ course.name }} </div>
  </div>
  <div class="portlet-body">
    <div class="row">
      <div class="col-md-3">
        {% if course.logo %}
          <a href="{% url 'dashboard:education:user-course-detail' course.id %}">
            <img src="{{ MEDIA_URL }}{{ course.logo }}" class="img-responsive"/></a>
        {% else %}
            <a href="{% url 'dashboard:education:user-course-detail' course.id %}">
              <img src="{% static 'hackman.png' %}" class="img-responsive"/></a>
        {% endif %}
        <div class="socicons">
          {% if course.repository %}
            <a href="{{ course.repository }}" class="socicon-btn socicon-github tooltips border-white" data-original-title="Github"></a>
          {% endif %}
          {% if course.facebook_group %}
            <a href="{{ course.facebook_group }}" class="socicon-btn socicon-facebook tooltips border-white" data-original-title="Facebook"></a>
          {% endif %}
        </div>
        <section style="margin-top: 15px">
          <a class="btn btn-success"
             href="{% url 'dashboard:education:user-course-detail' course.id %}">
            Go to course
          </a>
        </section>
      </div>

      <div class="col-md-9">
        <div class="scrollable-content">
          <p>
            <strong> Start date</strong>: {{ course.start_date }}<br>
            <strong> End date</strong>: {{ course.end_date }}<br>
            <strong> Duration</strong>: {{ course.weeks.count }} weeks
          </p>
          <p>
            <strong> Teachers:</strong>
            <ul class="list-unstyled">
              {% for teacher in course.visible_teachers %}
                <li>{{ teacher.profile.full_name }} - {{ teacher.email }}</li>
              {% endfor %}
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
