<div class="row">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i> {{ course.name }}
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body">
              <p>
                {% autoescape off %}
                  {{ course.description }}
                {% endautoescape %}
                <a href="{% url 'public:course_detail' course_slug=course.slug_url %}"><button type="button" class="btn green uppercase">Details</button></a>
              </p>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
</div>
