{% load education_extras %}

<div class="portlet-title">
  <div class="caption">
    <i class="fa fa-comments"></i> All Existing tasks
  </div>
  <div class="tools">
    <a href="javascript:;" class="collapse"> </a>
  </div>
</div>
<div class="portlet-body">
  <form class="" action="" method="POST">
    {% csrf_token %}
    <div class="table-scrollable">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th> # </th>
            <th> Name </th>
            <th>Courses with this task</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          {% for task in task_list %}
            <tr>
              <td>{{ task.id }}</td>
              <td><a href={% url 'dashboard:education:existing-task-detail' task.id %}>{{ task.name }}</a></td>
              <td>
                {% for course_name in task|get_courses_containing_task %}
                  {{ course_name }}<br/>
                {% endfor %}
              </td>
              <td><button type="submit" class="btn green uppercase" name="task" value="{{ task.id }}">Add task</button></td>
            </tr>
          {% endfor %}
        </tbody>
  </form>
      </table>
    </div>
</div>
