{% load common_extras %}

<div class="portlet collapse" id="notes-section_{{ student.id }}">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-pencil-square-o"></i> Student Notes
    </div>
  </div>
  <div class="portlet-body">
    <ul class="list-unstyled">
      {% for note in notes_by_student|lookup:student.email %}
        <li>
          <strong>[{{ note.created_at }}] {{ note.author.full_name }}: </strong> {{ note.text }}
        </li>
      {% endfor %}

      <form  action="{% url 'dashboard:education:create-student-note' course.id %}" method="POST">
        {% csrf_token %}
        <div class="form-body">
          {% include 'education/partial/message_box.html' %}
          <div class="form-group form-md-line-input">
            <textarea class="form-control from-control-solid placeholder-no-fix" placeholder="Write your note here" name="text"></textarea>
            <input type="hidden" name="student" value="{{ student.id }}"/>
          </div>
          <div class="form-actions noborder">
            <button class="btn green uppercase" type="submit" name="submit">Submit</button>
          </div>
        </div>
      </form>
    </ul>
  </div>
</div>
