 <div class="row">
  <div class="portlet box green">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-comments"></i> Solution
      </div>
      <div class="tools">
        <a href="javascript:;" class="collapse"> </a>
      </div>
    </div>
    <div class="portlet-body">
      <section>
        {% if solution.task.gradable %}
          {% if solution.task.test.is_source %}
            <pre>{{ solution.code }}</pre>
          {% else %}
            <pre>{{ solution_file }}</pre>
          {% endif %}
        {% else %}
          <pre><a href="{{solution.url}}">{{ solution.url }}</a></pre>
        {% endif %}
      </section>
      <section>
        <h3>Status:</h3>
          {{ solution.get_status_display }}
      </section>
    </div>
  </div>
</div>
