<div class="row">
    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-comments"></i> Solution Statistics
        </div>
        <div class="tools">
          <a href="javascript:;" class="collapse"> </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-scrollable">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>People in {{ course.name }}</th>
                <th>People with at least one submitted solution</th>
                <th>People with a correct solution</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{ statistics.total_student_count }}
                </td>
                <td>
                  {{ statistics.students_with_a_submitted_solution_count }}
                </td>
                <td>
                  {{ statistics.students_with_a_passing_solution_count }}
                </td>
                <td>
                  <form action"" method="GET">
                    <div class="form-actions">
                      <button class="btn green uppercase" type="submit" name="status" value="correct">
                        View correct
                      </button>
                    </div>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
