<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-comments"></i> Topics for course {{ course.name }}</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> Name </th>
                        <th> Week </th>
                    </tr>
                </thead>
                <tbody>
                    {% for topic in topics %}
                      <tr>
                          <td>{{ topic.id }}</td>
                          <td>{{ topic.name }}</td>
                          <td>{{ topic.week }}</td>
                      </tr>
                      <tr>
                        <td colspan="100%">
                          <div class="portlet box green">
                              <div class="portlet-title">
                                  <div class="caption">
                                      <i class="fa fa-comments"></i> Materials </div>
                                  <div class="tools">
                                      <a href="javascript:;" class="expand"> </a>
                                  </div>
                              </div>
                              <div class="portlet-body default-collapsed">
                                  <div class="table-scrollable">
                                      <table class="table table-striped table-hover">
                                          <thead>
                                              <tr>
                                                  <th> # </th>
                                                  <th> Identifier </th>
                                                  <th>Url</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              {% for material in topic.materials.all %}
                                                  <tr>
                                                      <td>{{ material.id }}</td>
                                                      <td>{{ material.identifier }}</td>
                                                      <td>{{ material.url }}</td>
                                                  </tr>
                                              {% endfor %}
                                          </tbody>
                                      </table>
                                  </div>
                                  {% if not public_page %}
                                    {% if request.user.teacher in course.teachers.all %}
                                      <a href="{% url 'dashboard:education:course-management:existing-materials' course.pk topic.pk %}">
                                        <button type="button" name="button" class="btn green uppercase" >Add new material</button>
                                      </a>
                                    {% endif %}
                                  {% endif %}
                              </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="100%">
                          <div class="portlet box green">
                              <div class="portlet-title">
                                  <div class="caption">
                                      <i class="fa fa-comments"></i> Tasks </div>
                                  <div class="tools">
                                      <a href="javascript:;" class="expand"> </a>
                                  </div>
                              </div>
                              <div class="portlet-body default-collapsed">
                                  <div class="table-scrollable">
                                      <table class="table table-striped table-hover">
                                          <thead>
                                              <tr>
                                                  <th> # </th>
                                                  <th> Name </th>
                                                  <th> </th>
                                                  <th> </th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              {% for task in topic.tasks.all %}
                                                  <tr>
                                                      <td>{{ task.id }}</td>
                                                      <td>{{ task.name }}</td>
                                                      <td>
                                                        {% if request.user.student in course.students.all %}
                                                          <a href="{% url 'dashboard:education:user-task-solutions' course.id task.id%}">
                                                            <button class="btn green uppercase" type="button" name="button">View your solutions</button>
                                                          </a>
                                                        {% endif %}
                                                      </td>
                                                      <td>
                                                        {% if request.user.is_teacher %}
                                                          <a href="{% url 'dashboard:education:course-management:edit-included-task' course.id task.id%}">
                                                            <button class="btn green uppercase" type="button" name="button">Edit</button>
                                                          </a>
                                                        {% endif %}
                                                      </td>
                                                  </tr>
                                              {% endfor %}
                                          </tbody>
                                      </table>
                                  </div>
                                  {% if not public_page %}
                                    {% if request.user.teacher in course.teachers.all %}
                                      <a href="{% url 'dashboard:education:course-management:existing-tasks' course.pk %}">
                                        <button type="button" name="button" class="btn green uppercase" >Add new task</button>
                                      </a>
                                    {% endif %}
                                  {% endif %}
                              </div>
                          </div>
                        </td>
                      </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if not public_page %}
      {% if request.user.teacher in course.teachers.all %}
        <a href="{% url 'dashboard:education:course-management:manage-course-topics' course.pk %}">
          <button type="button" name="button" class="btn green uppercase" >Add new topic</button>
        </a>
      {% endif %}
    {% endif %}
</div>
