{% for topic in topics %}
  <div class="col-md-12">
    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-comments"></i> {{ topic.name }} - {{ topic.week }}
        </div>
        <div class="tools">
          <a href="javascript:;" class="expand" data-original-title="" title=""> </a>
        </div>
        <div class="actions">
          <div class="btn-group">
            <a href="#tasks_tab{{ topic.id }}" data-toggle="tab">
              <button class="btn green uppercase"> Tasks </button>
            </a>
            <a href="#materials_tab{{ topic.id }}" data-toggle="tab">
              <button class="btn green uppercase"> Materials </button>
            </a>
          </div>
        </div>
      </div>
      <div class="portlet-body default-collapsed">
        <div class="tab-content">
          <div class="tab-pane active" id="materials_tab{{ topic.id }}">
            <div class="portlet-body">
              <div class="table-scrollable">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th> # </th>
                      <th> Identifier </th>
                      <th>Url</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for material in topic.materials.all %}
                      <tr>
                        <td>{{ material.id }}</td>
                        <td>
                          <a href="{% url 'dashboard:education:material-detail' material.id %}">{{ material.identifier }}</a>
                        </td>
                        <td>{{ material.url }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% if not public_page %}
                {% if request.user.teacher in course.teachers.all %}
                  <a href="{% url 'dashboard:education:course-management:existing-materials' course.pk topic.pk %}">
                    <button type="button" name="button" class="btn green uppercase" >Add new material</button>
                  </a>
                {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="tab-pane" id="tasks_tab{{ topic.id }}">
            <div class="table-scrollable">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th> # </th>
                    <th> Name </th>
                  </tr>
                </thead>
                <tbody>
                  {% for task in topic.tasks.all %}
                    <tr>
                      <td>{{ task.id }}</td>
                      <td>{{ task.name }}</td>
                      <td>
                        {% if request.user.student in course.students.all %}
                          <a href="{% url 'dashboard:education:user-task-solutions' course.id task.id%}">
                            <button class="btn green uppercase" type="button" name="button">View your solutions</button>
                          </a>
                        {% endif %}
                      </td>
                      <td>
                        {% if request.user.is_teacher %}
                          <a href="{% url 'dashboard:education:course-management:edit-included-task' course.id task.id%}">
                            <button class="btn green uppercase" type="button" name="button">Edit</button>
                          </a>
                          <a href="{% url 'dashboard:education:all-students-solutions' course.id task.id%}">
                            <button class="btn green uppercase" type="button" name="button">View all solutions</button>
                          </a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% if not public_page %}
              {% if request.user.teacher in course.teachers.all %}
                <a href="{% url 'dashboard:education:course-management:existing-tasks' course.pk topic.id %}">
                  <button type="button" name="button" class="btn green uppercase" >Add new task</button>
                </a>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% if not public_page %}
  {% if request.user.teacher in course.teachers.all %}
    <div class="col-md-4">
      <a href="{% url 'dashboard:education:course-management:manage-course-topics' course.pk %}">
        <button type="button" name="button" class="btn green uppercase" >Add new topic</button>
      </a>
    </div>
  {% endif %}
{% endif %}
