{% extends 'dashboard/dashboard_base.html' %}
{% load widget_tweaks %}

{% block title %}
  Edit Profile
{% endblock title %}

{% block content_title %}
  Edit profile
{% endblock content_title %}

{% block page_content %}
  <div class="row">
    <div class="col-md-4">
      {% include 'users/partial/profile_portlet.html' %}
    </div>
    <div class="col-md-8">
      {% include "education/partial/message_box.html" %}
      {% include "partial/form_errors.html" with errors=readable_errors %}
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption font-blue-sunglo">
            <i class="icon-settings font-blue-sunglo"></i>
            <span class="caption-subject bold uppercase"> Configure profile </span>
          </div>
        </div>
        <div class="portlet-body form">
          <form action="" method="POST" enctype="multipart/form-data">
            <div class="form-body">
              {% csrf_token %}
              <div class="form-group form-md-line-input">
                {{ form.full_name.label }}
                {% render_field form.full_name class="form-control form-control-solid" id="form_control_1" %}
              </div>
              <div class="form-group form-md-line-input">
                {{ form.description.label }}
                {% render_field form.description class="form-control form-control-solid" id="form_control_1" %}
	      </div>
               <div class="form-group form-md-line-input">
                {{ form.mac.label }}
                {% render_field form.mac class="form-control form-control-solid" id="form_control_1" %}
	      </div>
              <div class="form-group form-md-line-input">
                {{ form.skype.label }}
                {% render_field form.skype class="form-control form-control-solid" id="form_control_1" %}
              </div>
              <div class="form-group form-md-line-input">
                {{ form.full_image.label }}
                {% render_field form.full_image class="form-control form-control-solid" id="form_control_1" %}
	      </div>
              <div class="form-actions noborder">
                <button class="btn green uppercase" type="submit">Update</button>
                <div class="pull-right">
                  <a href="{% url 'account_reset_password' %}" id="forget-password" class="forget-password">
                    <button type="button" name="button" class="btn red uppercase">Reset password</button>
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock page_content %}
