{% extends "dashboard/dashboard_base.html" %}
{% load application_extras %}

{% block page_content %}

    
    {% if form.field_errors %}
        
        {% for error in form.field_errors %}
            <li>error</li>
        {% endfor %}
            
    {% endif %}
        
  
    {% if form.non_field_errors %}
      {{ form.non_field_errors}}
    {% endif %}

    
    {% if messages %}
        <ul class="messages">
            
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
                
        </ul>
    {% endif %}
          

{% endblock page_content %}