{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content_title %}
    	Add {{ user_type }}
{% endblock content_title %}

{% block page_content %}
<div class="row">
   <div class="col-md-6">
     {% include "partial/form_errors.html" with form=form errors=readable_errors %}
     {% include "education/partial/message_box.html" %}

     <div class="portlet light ">
      <div class="portlet-title">
        <div class="caption font-blue-sunglo">
          <i class="icon-settings font-blue-sunglo"></i>
          <span class="caption-subject bold uppercase"> Add new user </span>
        </div>
      </div>
      <div class="portlet-body form">
        <form action="" method="POST">
          <div class="form-body">
            {% csrf_token %}
            <div class="form-group form-md-line-input">
              {% render_field form.email class="form-control form-control-solid placeholder-no-fix" id="form_control_1" placeholder="Email" %}
            </div>
            <div class="form-actions noborder">
              <button class="btn green uppercase" type="submit">Submit</button>
            </div>
        </form>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}
