{% extends "dashboard/dashboard_base.html" %}

{% load widget_tweaks %}

{% block title %}
  Add Interviewer to course
{% endblock title %}

{% block page_content %}
  <form action="" method="POST">
    {% include "education/partial/message_box.html" %}
    {% include "partial/form_errors.html" with form=form errors=readable_errors %}
    {% csrf_token %}
    <div class="form-group">
      {{ form.interviewer.label }}
      {% render_field form.interviewer class="form-control form-control-solid" %}
    </div>

    <div class="form-group">
      {{ form.course.label }}
      {% render_field form.course class="form-control form-control-solid" %}
    </div>

    <div class="form-actions">
      <button class="btn green uppercase" type="submit">Submit</button>
    </div>
  </form>
{% endblock %}
