{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block title %}
  Management
{% endblock title %}

{% block content_title %}
  Management
{% endblock content_title %}

{% block page_content %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i> User management table </div>
                <div class="tools">
                    <a href="javascript:;" class="expand"> </a>
                </div>
            </div>
            <div class="portlet-body default-collapsed">
              <form class="" action="" method="get">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Search..." name="search_field" value="" id="search-field">
                  <select class="form-control" name="type">
                    {% if request.GET.type == 'students' %}
                      <option id="all-option" value="all">All users</option>
                      <option selected="true" id="students-option" value="students">Students</option>
                      <option id="teachers-option" value="teachers">Teachers</option>
                    {% elif request.GET.type == 'teachers'%}
                      <option id="all-option" value="all">All users</option>
                      <option id="students-option" value="students">Students</option>
                      <option selected="true" id="teachers-option" value="teachers">Teachers</option>
                    {% else %}
                      <option selected="true" id="all-option" value="all">All users</option>
                      <option id="students-option" value="students">Students</option>
                      <option id="teachers-option" value="teachers">Teachers</option>
                    {% endif %}
                  </select>
                </div>
                <div class="form-actions">
                  <input class="btn green uppercase" type="submit" name="" value="Filter">
                  <a href="{% url 'dashboard:management:add-student' %}"><button class="btn green uppercase" type="button" name="button">Add student</button></a>
                  <a href="{% url 'dashboard:management:add-teacher' %}"><button class="btn green uppercase" type="button" name="button">Add teacher</button></a>
                  <a href="{% url 'dashboard:management:add-user' %}"><button class="btn green uppercase" type="button" name="button">Add user</button></a>
                  <a href="{% url 'dashboard:management:add-student-to-course' %}"><button class="btn green uppercase" type="button" name="button">Add student to course</button></a>
                  <a href="{% url 'dashboard:management:add-teacher-to-course' %}"><button class="btn green uppercase" type="button" name="button">Add teacher to course</button></a>
                  <a href="{% url 'dashboard:management:add-interviewer-to-course' %}"><button class="btn green uppercase" type="button" name="button">Add interviewer to course</button></a>
                </div>
              </form>
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Email </th>
                                <th> Full Name </th>
                                <th> GitHub </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                              <tr>
                                <td>{{ obj.id }}</td>
                                <td><a href="{% url 'dashboard:users:profile-by-email' user_email=obj.email %}">{{ obj.email }}</a></td>
                                <td>{{ obj.get_full_name }}</td>
                                <td>{{ obj.profile.get_gh_profile_url }}</td>
                                <td>
                                    <div class="btn-group">
                                        {% if not obj.is_student %}
                                          <a href="{% url 'dashboard:management:promote-to-student' id=obj.id %}"><button type="button" class="btn btn-default">Make Student</button></a>
                                        {% endif %}
                                        {% if not obj.is_teacher %}
                                          <a href="{% url 'dashboard:management:promote-to-teacher' id=obj.id %}"><button type="button" class="btn btn-default">Make Teacher</button></a>
                            		  {% endif %}
                                          {% if not obj.is_interviewer %}
                                            <a href="{% url 'dashboard:management:promote-to-interviewer' id=obj.id %}"><button type="button" class="btn btn-default">Make Interviewer</button></a>
                                          {% endif %}
                                    </div>
                                </td>
                              </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if is_paginated %}
                  <div class="pagination">
                    <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="?page={{page_obj.previous_page_number}}&search_field={{ request.GET.search_field }}&type={{ request.GET.type }}">previous</a>
                      {% endif %}
                          <span class="page-current">
                              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                          </span>
                      {% if page_obj.has_next %}
                          <a href="?page={{page_obj.next_page_number}}&search_field={{ request.GET.search_field }}&type={{ request.GET.type }}">next</a>
                      {% endif %}
                    </span>
                  </div>
                {% endif %}
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-comments"></i> Courses table </div>
                <div class="tools">
                    <a href="javascript:;" class="expand"> </a>
                </div>
            </div>
            <div class="portlet-body default-collapsed">
                <div class="form-actions">
                    <a href="{% url 'dashboard:management:add-course' %}"><button class="btn green uppercase" type="button" name="button">Add course</button></a>
                </div>
               <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Name </th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th> GitHub </th>
                                <th>Video Channel</th>
                                <th>Facebook Group</th>
                                <th>Duration</th>
                                <th> Students </th>
                                <th> Teachers </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %}
                                <tr>
                                    <td>{{ course.id }}</td>
                                    <td><a href="{% url 'dashboard:education:user-course-detail' course.id %}">{{ course.name }}</a></td>
                                    <td>{{ course.start_date }}</td>
                                    <td>{{ course.end_date }}</td>
                                    <td><a href="{{ course.repository }}">{{ course.repository }}</a></td>
                                    <td><a href="{{ course.video_channel }}">{{ course.video_channel }}</a></td>
                                    <td><a href="{{ course.facebook_group }}">{{ course.facebook_group }}</a></td>
                                    <td>{{ course.duration_in_weeks }}</td>
                                    <td>{{ course.students.count }}</td>
                                    <td>{{ course.visible_teachers.count }}</td>
                                    <td><a href="{% url 'dashboard:management:edit-course' course_id=course.id %}"><button class="btn green uppercase" type="button" name="button">Edit course</button></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock page_content %}
