{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="HackSoft Academy LMS" name="description" />
    <meta content="HackSoft" name="author" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static "font-awesome/css/font-awesome.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "simple-line-icons/css/simple-line-icons.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" %}"/>

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static "css/components.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/plugins.min.css" %}">
    <!-- END THEME GLOBAL STYLES -->

    <!-- BEGIN THEME LAYOUT STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static "css/layout.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/blue.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/custom.min.css" %}"/>

    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{% static "css/profile.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/login.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/about.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "socicon/css/socicon.css"%}"/>
  </head>
    {% block body %}
    {% endblock body %}
</html>
