{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block title %}
  Competitions
{% endblock title %}

{% block content_title %}
  My competitions
{% endblock content_title %}

{% block page_content %}
  {% if user_is_judge_for %}
    {% include "competitions/partial/competition_portlets.html" with competitions=user_is_judge_for role="judge" %}
  {% endif %}

  {% if user_is_participant_in %}
    {% include "competitions/partial/competition_portlets.html" with competitions=user_is_participant_in role="participant" %}
  {% endif %}
{% endblock page_content %}

{% block extra_scripts %}
  <script src="{% static 'jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
    <script>
     function attachScrollbar(){
         $('.scrollable-content').slimScroll({
             height: '200px',
             railVisible: true,
             alwaysVisible: false,
             color: 'magenta'
         });
     }

     $(document).ready(attachScrollbar());
  </script>

{% endblock extra_scripts %}
