{% extends "dashboard/dashboard_base.html" %}
{% load widget_tweaks %}

{% block title %}
  Existing Tasks
{% endblock title %}

{% block content_title %}
  Choose from the following tasks
{% endblock content_title %}


{% block page_content %}
  <div class="row">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    {% include "education/partial/message_box.html" %}
    {% include "partial/form_errors.html" with errors=readable_errors %}
    <div class="portlet box green">
      {% include 'education/partial/existing_tasks.html' with task_list=task_list%}
      <a href="{% url 'competitions:create-competition-task-from-existing' competition.slug_url  %}"><button type="button" name="button" class="btn green uppercase" >Add new task</button></a>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
  </div>
{% endblock page_content %}
